footer.footer
  .l-wide
    .footer__wrapper
      .footer__top
        .footer__logo
          +svgColor("logo")
          h4.footer__logo-title.a-font_h4 Будьте здоровы!
        .footer__langs.a-font_l.a-font_bold
          a.footer__langs-item.active(href="") ru
          span.footer__langs-item(href="") en

      .footer__info
        .footer__col
          .footer__col-info
            .footer__title.a-font_xl.a-font_bold Контакты
            .footer__text.a-font_l.a-font_light
              .footer__item
                a.footer__email.a-font_medium(href="mailto:expert@bam.expert") expert@bam.expert
              .footer__item
                a(href="tel:+78124099870") +7 (812) 409-98-70
              .footer__item
                a(href="tel:+74991133668") +7 (499) 11-33-66-8
              .footer__item 188802, Ленинградская область, г. Выборг, ул. Физкультурная, д.&nbsp;17, пом.&nbsp;352
          a.button.button--grey.a-font_l.a-font_bold(href="", rel="noopener", target="_blank") Отрыть в навигаторе

        .footer__col
          .footer__col-info
            .footer__title.a-font_xl.a-font_bold Реквизиты
            .footer__text.a-font_l.a-font_light
              .footer__item
                .footer__requisites
                  .footer__requisites-item
                    span ОГРН
                    span 1194704005924
                  .footer__requisites-item
                    span ИНН
                    span 4704105078
                  .footer__requisites-item
                    span КПП
                    span 470401001
                  .footer__requisites-item
                    span GLN
                    span 4607196263378
              .footer__item Организация работает на&nbsp;ОСНО и&nbsp;является плательщиком НДС
              .footer__item Организация использует ЭДО Контур Диадок/EDI<br> ID&nbsp;2BM-4704105078-470401001-202008140818408983486
          a.button.button--grey.a-font_l.a-font_bold(href="", download) Реквизиты файлом

      .footer__bottom.a-font_l.a-font_regular
        .footer__bottom-item
          a.footer__legal(href="", rel="noopener", target="_blank") Политика конфиденциальности
        .footer__bottom-item ООО "Бам"
        .footer__bottom-item
          a.footer__madein(href="https://bakin.ru", rel="noopener", target="_blank")
            +svgColor('icon-bakin')
      .footer__export
        a.footer__export-logo(href="http://crplo.ru/export" target="_blank" rel="noopener")
          +webp(['global/export'], 'png')
