.s-benefit.s-product-info
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-benefit__wrapper
        .s-benefit__info
          .l-section__headline
            img.animation-icon(src="./img/global/root.svg", alt="" data-scroll)
            h2.l-section__title.a-font_h3.animation-text(data-scroll) Польза<br> ежедневного<br> употребления
          .l-section__text.a-font_xl.a-font_regular
            p.animation-text(data-scroll) Одно из главных преимуществ комбучи bambucha — высокое содержание витаминов в1, рр, c, органических кислот, ферментов
            p.animation-text(data-scroll) Вместе эти элементы помогают организму противостоять стрессам и вредным воздействиям внешней среды