.ico-color-icon-10 {
  width: 0.74em;
  height: 1em;
}
.ico-color-icon-7000 {
  width: 1.57em;
  height: 1em;
}
.ico-color-icon-b1 {
  width: 0.74em;
  height: 1em;
}
.ico-color-icon-bakin {
  width: 0.98em;
  height: 1em;
}
.ico-color-icon-certificate {
  width: 0.67em;
  height: 1em;
}
.ico-color-icon-declaration {
  width: 0.67em;
  height: 1em;
}
.ico-color-icon-pp {
  width: 1.27em;
  height: 1em;
}
.ico-color-icon-present {
  width: 0.71em;
  height: 1em;
}
