section#s_partners.s-partners
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-partners__wrapper
        .l-section__headline
          img.animation-icon(src="./img/global/sheet.svg", alt="" data-scroll)
          h2.l-section__title.a-font_h4.animation-text(data-scroll) Партнерам
        .l-section__text.a-font_xl.a-font_regular.animation-text(data-scroll) BAMBUCHA — современный бренд, синоним качества и пользы. Показатель особого статуса, уважительного отношения, хорошего вкуса.
        .s-partners__items
          .s-partners__item
            img.animation-icon(src="./img/s-partners/icon-present.svg", alt="" data-scroll)
            a.s-partners__item-link.a-font_l.a-font_bold.animation-text(href="" data-scroll) Презентация о бренде
          .s-partners__item
            img.animation-icon(src="./img/s-partners/icon-declaration.svg", alt="" data-scroll)
            a.s-partners__item-link.a-font_l.a-font_bold.animation-text(href="" data-scroll) Декларация о соответствии
          .s-partners__item
            img.animation-icon(src="./img/s-partners/icon-certificate.svg", alt="" data-scroll)
            a.s-partners__item-link.a-font_l.a-font_bold.animation-text(href="" data-scroll) Свидетельство на товарный знак
