section.s-partners
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-partners__wrapper
        .l-section__headline
          img(src="../img/s-contact/image.svg", alt="")
          h2.l-section__title.a-font_h4 Партнерам
        .l-section__text.a-font_xl.a-font_regular BAMBUCHA — современный бренд, синоним качества и пользы. Показатель особого статуса, уважительного отношения, хорошего вкуса.
        .s-partners__items
          .s-partners__item
            +svgColor("icon-present")
            a.s-partners__item-link.a-font_l.a-font_bold(href="") Презентация о бренде
          .s-partners__item
            +svgColor("icon-declaration")
            a.s-partners__item-link.a-font_l.a-font_bold(href="") Декларация о соответствии
          .s-partners__item
            +svgColor("icon-certificate")
            a.s-partners__item-link.a-font_l.a-font_bold(href="") Свидетельство на товарный знак