.s-info {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;

  @media (max-width: 767px) {
    overflow-x: hidden;
  }

  .s-benefit__image {
    @media (min-width: 768px) {
      position: absolute;
      top: rem(150);
      right: 0;
      display: flex;
      justify-content: center;
      width: rem(612);
    }

    img {
      width: 100%;
      height: auto;
      max-width: rem(428);

      @media (min-width: 992px) {
        max-width: rem(660);
      }

      @media (min-width: 1440px) {
        max-width: rem(812);
      }

      @media (max-width: 1200px) {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .l-section__text {
    max-width: 80%;
  }
}