section.s-info
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-info__wrapper
        .s-info__item
          .s-info__item-header
            +svgColor("icon-10")
            h3.s-info__item-title.a-font_h3 тонн<br> продукции
          .s-info__item-text.a-font_xl.a-font_regular В&nbsp;2020 году мы&nbsp;переформатировали давно и&nbsp;хорошо известный россиянам Чайный гриб в&nbsp;ТОВАР и&nbsp;стали продавать его через офлайн-розницу (в&nbsp;магазинах торговых сетей)
        .s-info__item
          .s-info__item-header
            +svgColor("icon-7000")
            h3.s-info__item-title.a-font_h3 торговых<br> точек
          .s-info__item-text.a-font_xl.a-font_regular В&nbsp;2022 году мы&nbsp;сделали следующий шаг и&nbsp;на&nbsp;основе Чайного гриба изготовили вкусный и&nbsp;полезный газированный напиток-комбучу.

      a.s-info__button.button.button--light-grey.a-font_l.a-font_bold(href="", target="_blank", rel="nofollow") Сайт компании