.s-info {
  position: relative;

  @media (max-width: 767px) {
    overflow-x: hidden;
  }

  .s-benefit__image {
    img {
      width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      width: 612px;
      position: absolute;
      top: rem(150);
      right: 0;
      display: flex;
      justify-content: center;
    }
  }
}