section#s_contact.s-contact
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-contact__wrapper
        h2.l-section__title.a-font_h4.animation-text(data-scroll) Связаться<br> с отделом продаж
        .l-section__text.a-font_xl.a-font_regular.animation-text(data-scroll) Для сотрудничества и дистрибуции — напишите нам или заполните форму.

        form.s-contact__form(action="")
          label(for="name")
            input.animation-text.s-contact__form-input.a-font_l.a-font_regular(type="text", name="name",placeholder="Ваше имя" data-scroll)
          label(for="phone")
            input.animation-text.s-contact__form-input.a-font_l.a-font_regular(type="tel", name="phone",placeholder="Контактный телефон" data-scroll)
          label(for="message")
            textarea.animation-text.s-contact__form-textarea.a-font_l.a-font_regular(name="message", placeholder="Ваше сообщение", cols="30", rows="5" data-scroll)
          button.s-contact__form-button.button.button--dark.animation-text(type="submit" data-scroll) Отправить
          .s-contact__form-legal.a-font_l.a-font_medium.animation-text(data-scroll) Нажимая эту кнопку, вы соглашаетесь с <a href="">политикой конфиденциальности</a>