section.s-buy
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-buy__wrapper
        .s-buy__col
          img.s-buy__img(src="./img/s-buy/banki.svg", alt="", loading="lazy")
        .s-buy__col
          h2.l-section__title.a-font_h4 Покупайте на здоровье
          .l-section__text.a-font_xl.a-font_regular Выбирайте удобный способ покупки BAMBUCHA на маркетплейсах

          .s-buy__logos
            a.s-buy__logos-item(href="")
              <svg width="133" height="30" viewBox="0 0 133 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.424 22.0802H43.9783L58.5906 2.70924C58.909 2.28389 58.8206 1.6636 58.396 1.34459C58.2368 1.22053 58.0245 1.14964 57.8122 1.14964H36.6722C34.8147 1.14964 33.2933 2.6738 33.2933 4.53468C33.2933 6.39557 34.8147 7.91973 36.6722 7.91973H46.1719L31.5066 27.3084C31.1705 27.7338 31.2589 28.3363 31.6835 28.6731C31.8604 28.8148 32.0727 28.8857 32.285 28.868H55.4063C57.2638 28.7794 58.6967 27.1844 58.6083 25.3057C58.5198 23.5689 57.14 22.1865 55.4063 22.0979V22.0802H55.424ZM129.299 1.14964C127.442 1.14964 125.92 2.6738 125.92 4.53468V15.895L107.664 1.38003C107.257 1.0433 106.638 1.09647 106.302 1.52182C106.16 1.69904 106.089 1.91172 106.089 2.14211V25.483C106.089 27.3439 107.611 28.868 109.468 28.868C111.326 28.868 112.847 27.3616 112.847 25.483V14.1227L131.104 28.6553C131.528 28.9921 132.147 28.9212 132.483 28.4958C132.625 28.3186 132.696 28.1059 132.696 27.8933V4.53468C132.678 2.65607 131.174 1.14964 129.299 1.14964ZM80.9866 22.7182C73.2559 22.7182 67.4889 18.642 67.4889 14.9911C67.4889 11.3402 73.2736 7.26399 80.9866 7.26399C88.7173 7.26399 94.4844 11.3402 94.4844 14.9911C94.4844 18.642 88.735 22.7182 80.9866 22.7182ZM80.9866 0.493896C69.8063 0.493896 60.7311 6.98042 60.7311 14.9911C60.7311 23.0018 69.8063 29.4883 80.9866 29.4883C92.167 29.4883 101.242 23.0018 101.242 14.9911C101.242 6.98042 92.167 0.493896 80.9866 0.493896ZM14.4884 22.7359C10.225 22.7359 6.75773 19.28 6.75773 15.0088C6.75773 10.7376 10.2074 7.26399 14.4707 7.26399C18.7341 7.26399 22.2014 10.7199 22.2014 14.9911V15.0088C22.2014 19.2623 18.7518 22.7182 14.4884 22.7359ZM14.4884 0.493896C6.49237 0.493896 0.0176904 6.98042 0 14.9911C0 23.0018 6.47468 29.4883 14.4707 29.506C22.4668 29.506 28.9415 23.0195 28.9592 15.0088V14.9911C28.9415 6.98042 22.4668 0.493896 14.4884 0.493896Z" fill="#0E1D28"/>
              </svg>
            a.s-buy__logos-item(href="")
              <svg width="187" height="22" viewBox="0 0 187 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.68851 21.4742L0 0.503718H3.73149L8.10217 16.6101L12.7864 0.502319L16.2648 0.503718L20.9653 16.6957L25.3557 0.507678L29.0871 0.502319L23.3962 21.4705L19.071 21.466L14.527 5.80558L9.97877 21.4701L5.68851 21.4742Z" fill="#0E1D28"/>
                <path d="M31.6602 0.515015H35.2122V21.461H31.6602V0.515015Z" fill="#0E1D28"/>
                <path d="M42.8067 18.1754H51.454V21.461H39.3281V0.515015H42.8067V18.1754Z" fill="#0E1D28"/>
                <path d="M62.3799 0.539165C65.295 0.539165 67.7203 1.55388 69.631 3.55907C71.5662 5.56427 72.5462 8.05271 72.5462 11.0001C72.5462 13.9234 71.5662 16.4118 69.631 18.4411C67.7203 20.4464 65.295 21.461 62.3799 21.461H54.0265V0.515015H62.3799V0.539165ZM62.3799 18.1995C64.3886 18.1995 66.0299 17.5231 67.2548 16.1702C68.5286 14.8173 69.1656 13.0778 69.1656 11.0242C69.1656 8.92244 68.5286 7.23128 67.2548 5.87838C66.0055 4.52541 64.3642 3.84896 62.3799 3.84896H57.5296V18.1995H62.3799Z" fill="#0E1D28"/>
                <path d="M91.2855 15.4773C91.2855 17.1935 90.6736 18.6196 89.4242 19.7557C88.1747 20.8918 86.7047 21.4719 84.8922 21.4719H75.8037V0.515015H84.2306C85.9701 0.515015 87.4393 1.09517 88.6399 2.18288C89.8652 3.29474 90.4531 4.67256 90.4531 6.3162C90.4531 8.15327 89.7177 9.55525 88.2974 10.5947C90.1588 11.5615 91.2855 13.3018 91.2855 15.4773ZM79.3065 3.75406V9.26521H84.2547C85.7985 9.26521 86.9742 8.05659 86.9742 6.50964C86.9742 4.9626 85.7985 3.75406 84.2547 3.75406H79.3065ZM84.9163 18.2329C86.5331 18.2329 87.8074 16.9518 87.8074 15.3081C87.8074 13.6644 86.5331 12.3834 84.9163 12.3834H79.3065V18.2571H84.9163V18.2329Z" fill="#0E1D28"/>
                <path d="M98.0719 18.1845H107.479V21.4719H94.5938V0.515015H107.332V3.80237H98.0719V9.24098H106.573V12.5042H98.0719V18.1845Z" fill="#0E1D28"/>
                <path d="M122.716 21.4719L118.208 13.8336H114.092V21.4719H110.614V0.515015H119.114C121.025 0.515015 122.642 1.16762 123.941 2.49707C125.263 3.77822 125.949 5.37355 125.949 7.25893C125.949 9.91782 124.259 12.3591 121.736 13.326L126.561 21.4719H122.716ZM114.092 3.75399V10.7638H119.09C120.952 10.7638 122.422 9.21683 122.422 7.25893C122.422 5.32517 120.928 3.75399 119.09 3.75399H114.092Z" fill="#0E1D28"/>
                <path d="M141.308 21.471L136.825 13.8288H132.71V21.471H129.231V0.503296H137.732C139.643 0.503296 141.259 1.15629 142.558 2.48644C143.88 3.7682 144.567 5.36432 144.567 7.2507C144.567 9.91099 142.876 12.3536 140.353 13.321L145.179 21.471H141.308ZM132.71 3.74398V10.7574H137.707C139.569 10.7574 141.039 9.20961 141.039 7.2507C141.039 5.31602 139.545 3.74398 137.707 3.74398H132.71Z" fill="#0E1D28"/>
                <path d="M147.727 0.506226H151.205V21.4716H147.727V0.506226Z" fill="#0E1D28"/>
                <path d="M158.8 18.1845H168.207V21.4718H155.321V0.515015H168.06V3.80237H158.8V9.24098H167.3V12.5042H158.8V18.1845Z" fill="#0E1D28"/>
                <path d="M170.632 16.7015L173.645 14.962C174.502 17.3296 176.242 18.4893 178.911 18.4893C181.557 18.4893 182.856 17.3779 182.856 15.7352C182.856 14.8654 182.488 14.2373 181.803 13.8024C181.116 13.3434 179.843 12.836 178.03 12.3045C175.996 11.7005 174.992 11.314 173.571 10.3959C172.2 9.42961 171.513 8.05248 171.513 6.16811C171.513 4.30782 172.175 2.85832 173.522 1.77116C174.845 0.659764 176.462 0.128296 178.348 0.128296C181.754 0.128296 184.374 1.86776 185.747 4.74269L182.807 6.4097C181.924 4.47695 180.43 3.48639 178.348 3.48639C176.315 3.48639 175.016 4.5011 175.016 6.09558C175.016 7.64184 176.045 8.36659 179.304 9.35707C180.112 9.62289 180.7 9.81617 181.067 9.96107C181.459 10.0819 181.973 10.2993 182.635 10.5651C183.321 10.8308 183.86 11.1449 184.179 11.4107C185.306 12.2804 186.505 13.7057 186.359 15.711C186.359 17.5954 185.673 19.1174 184.277 20.2287C182.904 21.3401 181.092 21.8716 178.839 21.8716C174.723 21.8474 171.734 19.9147 170.632 16.7015Z" fill="#0E1D28"/>
              </svg>

          .s-buy__tabs
            a.s-buy__tab.a-font_xl.a-font_bold.is-active(data-tab="buy_package") Упаковка
            a.s-buy__tab.a-font_xl.a-font_bold(data-tab="buy_pallet") Паллет

          .s-buy__tabs-contents
            .s-buy__tabs-content.a-font_l.is-active(id="buy_package")
              .s-buy__info
                .s-buy__info-name Банка
                .s-buy__info-value 0,33 л
              .s-buy__info
                .s-buy__info-name Материал
                .s-buy__info-value алюминий
              .s-buy__info
                .s-buy__info-name Срок годности
                .s-buy__info-value 12 мес
              .s-buy__info
                .s-buy__info-name Размеры
                .s-buy__info-value 26х20х17 см
              .s-buy__info
                .s-buy__info-name Вес
                .s-buy__info-value 4,5 кг

            .s-buy__tabs-content.a-font_l(id="buy_pallet")
              .s-buy__info
                .s-buy__info-name Банка
                .s-buy__info-value 0,33 л
              .s-buy__info
                .s-buy__info-name Материал
                .s-buy__info-value алюминий
              .s-buy__info
                .s-buy__info-name Срок годности
                .s-buy__info-value 12 мес
              .s-buy__info
                .s-buy__info-name Размеры
                .s-buy__info-value 26х20х17 см
              .s-buy__info
                .s-buy__info-name Вес
                .s-buy__info-value 4,5 кг