section.s-buy
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-buy__wrapper
        .s-buy__col
          img.s-buy__img(src="./img/s-buy/banki.svg", alt="", loading="lazy")
        .s-buy__col
          h2.l-section__title.a-font_h4 Покупайте на здоровье
          .l-section__text.a-font_xl.a-font_regular Выбирайте удобный способ покупки BAMBUCHA на маркетплейсах

          .s-buy__logos
            a.s-buy__logos-item(href="")
              +svgMono("logo-ozon")
            a.s-buy__logos-item(href="")
              +svgMono("logo-wb")

          .s-buy__tabs
            a.s-buy__tab.a-font_xl.a-font_bold.is-active(data-tab="buy_package") Упаковка
            a.s-buy__tab.a-font_xl.a-font_bold(data-tab="buy_pallet") Паллет

          .s-buy__tabs-contents
            .s-buy__tabs-content.a-font_l.is-active(id="buy_package")
              .s-buy__info
                .s-buy__info-name Банка
                .s-buy__info-value 0,33 л
              .s-buy__info
                .s-buy__info-name Материал
                .s-buy__info-value алюминий
              .s-buy__info
                .s-buy__info-name Срок годности
                .s-buy__info-value 12 мес
              .s-buy__info
                .s-buy__info-name Размеры
                .s-buy__info-value 26х20х17 см
              .s-buy__info
                .s-buy__info-name Вес
                .s-buy__info-value 4,5 кг

            .s-buy__tabs-content.a-font_l(id="buy_pallet")
              .s-buy__info
                .s-buy__info-name Банка
                .s-buy__info-value 0,33 л
              .s-buy__info
                .s-buy__info-name Материал
                .s-buy__info-value алюминий
              .s-buy__info
                .s-buy__info-name В слое
                .s-buy__info-value 19 упаковок / 228 шт.
              .s-buy__info
                .s-buy__info-name Слоёв
                .s-buy__info-value 10
              .s-buy__info
                .s-buy__info-name В паллете
                .s-buy__info-value 190 упаковок / 2280 шт.
              .s-buy__info
                .s-buy__info-name Размеры
                .s-buy__info-value 120х80х190 см, вес 860 кг