section.s-intro
  .leaf--parallax.leaf--parallax-1(data-speed=".75")
    +webp(['global/leaves/1'], 'png')
  .leaf--parallax.leaf--parallax-2(data-speed=".5")
    +webp(['global/leaves/2'], 'png')
  .leaf--parallax.leaf--parallax-3(data-speed=".2")
    +webp(['global/leaves/3'], 'png')
  .leaf--parallax.leaf--parallax-4(data-speed=".15")
    +webp(['global/leaves/4'], 'png')
  .leaf--parallax.leaf--parallax-5(data-speed=".66")
    +webp(['global/leaves/5'], 'png')
  .leaf--parallax.leaf--parallax-6(data-speed="-.85")
    +webp(['global/leaves/6'], 'png')
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-intro__inner
        .s-intro__col
          .s-intro__headline
            .s-intro__logo
              +svgColor("logo-en")
            h1.s-intro__title Комбуча
              |
              span ежедневно
          .s-intro__text.a-font_xl.a-font_regular Напиток Bambucha сделан по&nbsp;традиционным рецептам для твоего ежедневного поддержания здоровья и&nbsp;долголетия
        .s-intro__col
          .s-intro__image
            +webp(['global/intro-image'], 'jpg')
  .s-intro__bg
    .s-intro__bg-img
      +webp(['s-intro/bg-1'], 'jpg')
    .s-intro__bg-img(data-speed="-3")
      +webp(['s-intro/bg-2'], 'png')
    .s-intro__bg-img(data-speed="10")
      +webp(['s-intro/bg-3'], 'png')
