section.s-intro
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-intro__inner
        .s-intro__col
          .s-intro__headline
            img.s-intro__logo(src="./img/global/logo.svg", alt="")
            h1.s-intro__title Комбуча
              |
              span ежедневно
          .s-intro__text.a-font_xl.a-font_regular Напиток Bambucha сделан по&nbsp;традиционным рецептам для твоего ежедневного поддержания здоровья и&nbsp;долголетия
        .s-intro__col
          img.s-intro__image(src="./img/global/intro-image.png", alt="")