extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Главная страница проекта"

block content
  include ../blocks/sections/s_intro/s_intro.pug
  nav.navigation
    li.navigation__item
      a.navigation__item-link(href="#s_about")
        span
    li.navigation__item
      a.navigation__item-link.is-active(href="#s_info")
        span
    li.navigation__item
      a.navigation__item-link(href="#s_neurobooster")
        span
    li.navigation__item
      a.navigation__item-link(href="#s_buy")
        span
    li.navigation__item
      a.navigation__item-link(href="#s_partners")
        span
    li.navigation__item
      a.navigation__item-link(href="#s_contact")
        span
  include ../blocks/sections/s_made/s_made.pug
  include ../blocks/sections/s_info/s_info.pug
  include ../blocks/sections/s_neurobooster/s_neurobooster.pug
  include ../blocks/sections/s_buy/s_buy.pug
  include ../blocks/sections/s_partners/s_partners.pug
  include ../blocks/sections/s_contacts/s_contacts.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")