extends layouts/default
include helpers/_mixins

block variables
  - const title = "Главная страница проекта"

block content
  include ../blocks/sections/header/header.pug
  include ../blocks/sections/footer/footer.pug
  h1 Будьте здоровы

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")