.s-about
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-about__wrapper
        .s-about__item.s-about__item-left
          .s-about__item-header
            img(src="./img/s-about/icon-10.svg", alt="")
            h3.s-about__item-title.a-font_h3 тонн<br> продукции
          .s-about__item-text.a-font_xl.a-font_regular В&nbsp;2020 году мы&nbsp;переформатировали давно и&nbsp;хорошо известный россиянам Чайный гриб в&nbsp;ТОВАР и&nbsp;стали продавать его через офлайн-розницу (в&nbsp;магазинах торговых сетей)
        .s-about__item.s-about__item-right
          .s-about__item-header
            img(src="./img/s-about/icon-7000.svg", alt="")
            h3.s-about__item-title.a-font_h3 торговых<br> точек
          .s-about__item-text.a-font_xl.a-font_regular В&nbsp;2022 году мы&nbsp;сделали следующий шаг и&nbsp;на&nbsp;основе Чайного гриба изготовили вкусный и&nbsp;полезный газированный напиток-комбучу.

      a.s-about__button.button.button--light-grey.a-font_l.a-font_bold(href="https://bam.expert", target="_blank", rel="nofollow") Сайт компании
    img.s-about__sheat(src="./img/global/sheet-color-1.svg", alt="")
    img.s-about__lemon(src="./img/global/lemon.svg", alt="")