.s-about {
  .l-section__outer {
    position: relative;
  }

  &__wrapper {
    display: grid;
    margin-bottom: rem(24);
    grid-template-columns: repeat(1, 1fr);
    gap: rem(24);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(32);
    }

    @media (min-width: 1200px) {
      margin-bottom: rem(40);
    }
  }

  &__item {
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: rem(24);
      gap: rem(12);

      @media (min-width: 768px) {
        margin-bottom: rem(12);
      }

      @media (min-width: 1200px) {
        gap: rem(32);
      }

      img {
        width: auto;
        height: rem(100);
        flex: none;

        @media (min-width: 1200px) {
          height: rem(160);
        }
      }
    }

    &-title {
      margin: 0;
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__lemon {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: rem(-100);
  }

  &__sheat {
    z-index: -1;
    position: absolute;
    bottom: rem(-80);
    left: rem(-20);
  }
}