.s-product-info
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-product-info__wrapper.--reverse
        .s-product-info__col
          h2.s-product-info__title.a-font_h4 Крепкие нервы и энергия
          .s-product-info__text.a-font_l.a-font_regular
            p Дефицит В1 приводит к нарушению сна, вялости, быстрой утомляемости, спутанности сознания.
            p Банка комбучи BAMBUCHA содержит 200% рекомендуемой суточной нормы потребления Тиамина.
        .s-product-info__col
          .s-product-info__icon
            img(src="./img/global/icon-b1.svg", alt="")
          .s-product-info__text.a-font_l.a-font_regular
            p Тиамин — необходим для осуществления углеводного обмена, нормальной работы центральной и периферической нервной системы, здоровья сердца. Участвует в ферментативных реакциях, гомеостазе и других жизненно важных биологических процессах.

.s-product-info
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-product-info__wrapper
        .s-product-info__col
          h2.s-product-info__title.a-font_h4 Хорошее самочувствие в течение дня
          .s-product-info__text.a-font_l.a-font_regular
            p Дефицит В1 приводит к нарушению сна, вялости, быстрой утомляемости, спутанности сознания.
            p Банка комбучи BAMBUCHA содержит 200% рекомендуемой суточной нормы потребления Тиамина.
        .s-product-info__col
          .s-product-info__icon
            img(src="./img/global/icon-pp.svg", alt="")
          .s-product-info__text.a-font_l.a-font_regular
            p Тиамин — необходим для осуществления углеводного обмена, нормальной работы центральной и периферической нервной системы, здоровья сердца. Участвует в ферментативных реакциях, гомеостазе и других жизненно важных биологических процессах.

.s-product-info.s-product-info--end
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-product-info__wrapper.--reverse
        .s-product-info__col
          h2.s-product-info__title.a-font_h4 Крепкие нервы и энергия
          .s-product-info__text.a-font_l.a-font_regular
            p Дефицит В1 приводит к нарушению сна, вялости, быстрой утомляемости, спутанности сознания.
            p Банка комбучи BAMBUCHA содержит 200% рекомендуемой суточной нормы потребления Тиамина.
        .s-product-info__col
          .s-product-info__icon
            img(src="./img/global/icon-b1.svg", alt="")
          .s-product-info__text.a-font_l.a-font_regular
            p Тиамин — необходим для осуществления углеводного обмена, нормальной работы центральной и периферической нервной системы, здоровья сердца. Участвует в ферментативных реакциях, гомеостазе и других жизненно важных биологических процессах.