section.s-made
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-made__wrapper
        .s-made__top
          +svgMono("logo")
          a.button.button--dark.a-font_l.a-font_bold(href="", target="_blank", rel="nofollow") Купить
        .s-made__inner
          .s-made__info
            h2.l-section__title.a-font_h3 Изготовлено<br> c пользой
            .l-section__text.a-font_xl.a-font_regular ООО &laquo;БАМ&raquo;, владелец бренда BAMBUCHA, основанная в&nbsp;2019 году в&nbsp;г. Выборг Ленинградской области, является крупнейшим поставщиком Чайного гриба на&nbsp;рынок России. Ежемесячно отгружаем более 10&nbsp;тонн в&nbsp;федеральные и&nbsp;региональные торговые сети.
            .s-made__info-img
              img(src="./img/s-made/sheet.svg", alt="")
          .s-made__image
            img(src="./img/s-made/image.png", alt="")