-
  const neuroboosterItems = [
    {
      title: 'Для здорового<br> утоления жажды',
      image: './img/s-neurobooster/03.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    },
    {
      title: 'Для занятия<br> спортом',
      image: './img/s-neurobooster/02.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    },
    {
      title: 'Для поддержания<br> диеты',
      image: './img/s-neurobooster/01.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    },
    {
      title: 'Для здорового<br> утоления жажды',
      image: './img/s-neurobooster/03.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    },
    {
      title: 'Для занятия<br> спортом',
      image: './img/s-neurobooster/02.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    },
    {
      title: 'Для поддержания<br> диеты',
      image: './img/s-neurobooster/01.png',
      text: 'Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.',
    }
  ]

section#s_neurobooster.s-neurobooster
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-neurobooster__info
        .l-section__headline
          img.animation-icon(src="./img/s-neurobooster/image.svg", alt="" data-scroll)
          h2.l-section__title.a-font_h3.animation-text(data-scroll) Природный нейробустер
        .l-section__text.a-font_xl.a-font_regular.animation-text(data-scroll) Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.
      .s-neurobooster__slider.swiper-container.animation-text(data-scroll)
        .swiper-wrapper
          each item in neuroboosterItems
            .swiper-slide.s-neurobooster__slide
              .s-neurobooster__item
                .s-neurobooster__item-headline
                  img.s-neurobooster__item-img(src=item.image, alt="")
                  .s-neurobooster__item-title!= item.title
                .s-neurobooster__item-text.a-font_l.a-font_light= item.text
      .s-neurobooster__pagination
        .swiper-pagination