.s-neurobooster {
  overflow: hidden;
  text-align: center;
  background: var(--a-color_bg-grey-gradient);

  &__info {
    max-width: rem(448);
    margin: 0 auto;

    @media (min-width: 1200px) {
      max-width: rem(663);
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;

    &-active {
      @media (min-width: 600px) {
        min-width: rem(360);
      }

      @media (min-width: 992px) {
        min-width: rem(590);
      }

      .s-neurobooster__item {
        padding-top: rem(166);

        &-title {
          font-size: rem(46);
          line-height: rem(48);

          @media screen and (min-width: 992px) {
            font-size: rem(70);
            line-height: rem(74);
          }
        }

        &-img {
          position: absolute;
          top: rem(20);
          left: rem(-50);
          transform: translate(0, 0);
          opacity: 1;
        }

        &-text {
          opacity: 1;
        }
      }
    }
  }

  &__slider {
    min-height: rem(460);
    margin-top: rem(46);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .4;
      margin-bottom: rem(-24);
    }

    &-title {
      margin-bottom: rem(10);
      font-family: "Black Diamond";
      font-size: rem(28);
      line-height: rem(32);
      white-space: nowrap;

      @media screen and (min-width: 992px) {
        font-size: rem(44);
        line-height: rem(48);
      }
    }

    &-text {
      opacity: 0;
      max-width: rem(460);
      transition: 0.5s opacity ease-in-out;
    }
  }

  &__pagination {
    position: relative;
    margin-top: rem(24);

    @media (min-width: 992px) {
      margin-top: rem(32);
    }
  }
}
