section#s_neurobooster.s-neurobooster
  .l-section__outer
    .l-wide.l-section__wrapper
      .s-neurobooster__wrapper
        .s-neurobooster__info
          .l-section__headline
            img(src="./img/s-neurobooster/image.svg", alt="")
            h2.l-section__title.a-font_h4 Природный нейробустер
          .l-section__text.a-font_xl.a-font_regular Сочетание большого количества витамина В1 с витамином РР делает BAMBUCHA природным нейробустером. Eжедневное употребление BAMBUCHA помогает человеку бороться со стрессом, чувствовать себя бодрым и энергичным.