html {
  scroll-behavior: smooth;
}

body {
  overflow: unset;
  font-family: "Inter", serif;
  font-size: rem(16);
  font-weight: normal;
  color: var(--a-color_text);
  -webkit-text-size-adjust: 100%;
  background-color: var(--a-color_bg-grey);
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden,
[hidden] {
  display: none;
}

:root {
  --layout-width: 81.25rem; // 1300p
  --layout-padding: 2rem; // 80px

  --layout-h-padding: 1rem; // 16px
  --layout-v-padding: 3rem; // 48px

  @media screen and (min-width: 768px) {
    --layout-h-padding: 1.875rem; // 30px
    --layout-v-padding: 3.75rem; // 60px
  }

  @media screen and (min-width: 1200px) {
    --layout-h-padding: 4.375rem; // 70px
    --layout-v-padding: 7.5rem; // 120px
  }
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  * {
    scrollbar-width: thin;
    scrollbar-color: #cfd3d8 #f7f9fd;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #f7f9fd;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #cfd3d8;
  }
}

.l-wide {
  --layout-width: 87.5rem; // 1400px
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: rem(16);
  }
}

.m-auto {
  display: block;
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.l-section {
  &__outer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    padding: var(--layout-v-padding) var(--a-padding--x4);

    @media (min-width: 1200px) {
      margin: 0 var(--a-padding--x8);
    }
  }

  &__headline {
    img {
      margin-bottom: rem(-24);
    }
  }

  &__title {
    margin: 0 0 rem(12);

    @media (min-width: 1200px) {
      margin: 0 0 rem(32);
    }
  }

  &__text {
    margin: 0 0 rem(24);

    @media (min-width: 1200px) {
      margin: 0 0 rem(40);
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: rem(46);
  padding: 0 rem(40);
  border: 0;
  border-radius: rem(30);
  transition: 0.5s opacity ease;

  @media (min-width: 1200px) {
    height: rem(58);
    padding: 0 rem(56);
  }

  &:hover {
    opacity: 0.7;
  }

  &--dark {
    color: var(--a-color_grey-light);
    background-color: var(--a-color_bg-dark);
  }

  &--grey {
    color: var(--a-color_text);
    background-color: var(--a-color_bg-grey);
  }

  &--light-grey {
    color: var(--a-color_text);
    background-color: var(--a-color_bg-grey-light);
  }
}
